body {
    font-family: Manrope;
    background-color: lightblue;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: -20px;
}

h4 {
    text-align: center;
    font-weight: normal;
}


button {
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #6bc856;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Manrope;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
  background-color: #3c732f;
  color: white;
}

@media screen and (max-width: 1200px) {
    body {
     margin-left: 50px;
     margin-right: 50px;
  }
}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
