body {
    font-family: Manrope;
    background-color: lightblue;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}

h1 {
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
    font-weight: normal;
    font-size: 100px;
}
